@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
.container__cat{
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: auto;
  border-radius: 8px;
  background-color: #141414;
  width: 50%;
  padding: 2rem 4rem;
}
  
.title__cat{

    margin-bottom: 2rem;
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    filter: grayscale();
    font-style: normal;
  
  
}
  
.cat_btn{
  background-color: #1134A3;
}

.image__cat{
  margin-left: -3rem;
}

.list__btn{
  background-color: aliceblue;
  color: black;
}

.list__cat{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  justify-content: center;
}

.list__btn:hover{
  background-color: #8f8f8f;
}
  

@media (max-width: 1024px) {
  .container__cat{
    width: 100%;
    padding: 2rem;
    
  }
  .title__cat{
    font-size: 4rem;

  }
  .image__cat{
    margin-left: -1rem;
  }
  
  
}

@media (max-width: 786px) {
  .container__cat{
    width: 90%;
  }
  .image__cat{
    margin-left: -1rem;
  }
  
  .title__cat{
      font-size: 2rem;
      margin-bottom: 2rem;
      font-family: "Bungee Spice", sans-serif;
      font-weight: 400;
      filter: grayscale();
      font-style: normal;
    }
  
}
