@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap");
.container__ranking {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 500px;
  border-radius: 8px;
  background-color: #141414;
  width: 50%;
  padding: 0 4rem;
}

.ranking__title,
.ranking__subtitle {
  color: aliceblue;
  text-align: center;
  padding: 1rem;
}

.ranking__title {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  filter: grayscale();
  font-style: normal;
  font-size: 3rem;
  margin-top: -4rem;
}
.ranking__subtitle {
  margin-top: -2rem;
}

.image__ranking {
  margin-left: -3rem;
}

.list {
  width: 100%;
  height: 250px;
  overflow-y: scroll;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

@media (max-width: 1024px) {
  .container__ranking {
    width: 90%;
    padding: 0rem;
  }
  .image__ranking {
    margin-left: -1.5rem;
    margin-top: -1rem;
  }
  .ranking__subtitle {
    font-size: 1rem;
  }
}

@media (max-width: 786px) {
  .container__ranking {
    height: auto;
    width: 90%;
    padding: 1rem 2rem;
  }
  .title__cat {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    filter: grayscale();
    font-style: normal;
  }
}
