.container__quizz {
  width: 100%;
  margin-top: 1rem;
}

.quizz_btn {
  margin-top: 1rem;
}

.container__question__quizz {
  overflow-y: scroll;
  color: rgb(43, 43, 43);
  height: 310px;
  background-color: aliceblue;
  border-radius: 5px;
  margin-top: 0.5rem;
}

.quizz_btn {
  margin-top: 0.8rem;
}

.container__question__perg {
  background-color: #141414;
  color: white;
}

.container__question__text {
  border-radius: 4px;
  background-color: aliceblue;
}

.container__quizz__perg {
  background-color: #141414;
  color: white;
}
