.container {
    height: auto;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 1px 1px 2px 1px #303030;
    background-color: #141414;
  }
  
  .container .form__t1{
    color: white;
    text-align: left;
  }
  
  
  .container .form__p{
    background-color: white;
    border-radius: 4px;
  }
  
  
  .container .form__btn{
    background-color: #1134A3;
    border-radius: 4px;
  }


  .image__register{
    margin: -1rem auto;
    text-align: center;
    padding-bottom: .5rem;
    display: flex;
    flex-direction: row;
    justify-self: center;
  }