.container__manage {
  display: flex;
  flex-direction: column;
  height: 500px;
  border-radius: 8px;
  background-color: #141414;
  width: 50%;
}

.container__manage__QQ {
  width: 100%;
  padding: 0;
}

.title__dash {
  margin-bottom: 2rem;
  color: aliceblue;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.links a {
  margin-bottom: 1rem;
}

.dash_btn {
  background-color: #1134a3;
}

.image__dash {
  position: relative;
  left: -22rem;
  top: -3rem;
}

.user__info {
  font-size: 1.2rem;
  padding-bottom: 2rem;
  color: aliceblue;
}

.container__tabs {
  width: 100%;
}

@media (max-width: 1024px) {
  .container__manage {
    width: 90%;
  }
  .title__dash {
    font-size: 3rem;
  }
  .dash_btn {
    background-color: #1134a3;
    width: 150px;
    height: 50px;
  }
}

@media (max-width: 786px) {
  .container__manage {
    width: 90%;
  }
  .title__dash {
    font-size: 3rem;
    margin-bottom: 2rem;
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    filter: grayscale();
    font-style: normal;
  }
  .dash_btn {
    background-color: #1134a3;
    width: 150px;
    height: 50px;
  }
}
