@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap");

.container__perfil {
  display: flex;
  flex-direction: column;
  height: auto;
  border-radius: 8px;
  background-color: #141414;
  width: 50%;
  padding: 2rem;
}

.title__perfil {
  margin-bottom: 1rem;
  color: aliceblue;
  font-size: 2rem;
  text-align: center;
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  filter: grayscale();
  font-style: normal;
}

.user__info {
  margin-bottom: 1rem;
  color: aliceblue;
}

.form__perfil {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 0 auto;
}

.image__perfil {
  margin-top: -1rem;
}

.textField__perfil {
  border-radius: 5px;
  background: white;
}

@media (max-width: 1024px) {
  .container__perfil {
    width: 90%;
  }
  .title__perfil {
    font-size: 2rem;
  }
  .dash_btn {
    background-color: #1134a3;
    width: 150px;
    height: 50px;
  }
}

@media (max-width: 786px) {
  .container__dash {
    width: 90%;
  }
  .title__dash {
    font-size: 3rem;
    margin-bottom: 2rem;
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    filter: grayscale();
    font-style: normal;
  }
  .dash_btn {
    background-color: #1134a3;
    width: 150px;
    height: 50px;
  }
}
