@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap");

.option__button {
  background-color: white;
  color: black;
}

.option__button:hover {
  background-color: white;
  color: black;
}

.correct__option {
  background-color: green;
  color: white;
}

.correct__option:hover {
  background-color: green;
  color: white;
}

.incorrect__option {
  background-color: red;
  color: white;
}

.incorrect__option:hover {
  background-color: red;
  color: white;
}

.container__quiz {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: center;
  height: auto;
  border-radius: 8px;
  background-color: #141414;
  width: 50%;
  padding: 0 2rem;
}

.quiz__title {
  color: aliceblue;
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  filter: grayscale();
  font-style: normal;
  font-size: 3rem;
}

.quiz__item {
  margin: 1rem 0;
}

.quiz__text {
  color: white;
}

.quiz__options {
  margin-top: 1rem;
}

@media (max-width: 1024px) {
  .container__quiz {
    width: 100%;
    padding: 0rem;
  }
  .title__cat {
    font-size: 4rem;
  }
}

@media (max-width: 786px) {
  .container__quiz {
    width: 90%;
  }
  .title__cat {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    filter: grayscale();
    font-style: normal;
  }
}
